<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Buscar</title>
    </head>
	<style>
		
			        button {
			            margin: 5px;
			            padding: 10px;
			            font-size: 16px;
			        }
			    </style>
	
    <body>

		
		</head>
		
		<body>
		
			<div>
				<a th:href="@{/homeCliente}">Volver</a>
									
								</div>
				
			<form th:action="@{/buscardni/cliente}" method="get">
				
				<h1>Buscar Cliente Por Dni</h1>
				
				<input type="text" name="dni_cliente" placeholder="Ingrese el Dni">
				
				<button type="submit">Confirmar</button>
				
				</form>
				
				<table>
					
					<tr th:if="${clienteBuscado}">
									
						<td th:text="${clienteBuscado.id_cliente}"></td>
				        <td th:text="${clienteBuscado.dni}"></td>
					    <td th:text="${clienteBuscado.nombre_usuario}"></td>
						<td th:text="${clienteBuscado.clave}"></td>
					    <td th:text="${clienteBuscado.nombre}"></td>
						<td th:text="${clienteBuscado.domicilio}"></td>
					    <td th:text="${clienteBuscado.correo_electronico}"></td>
						<td th:text="${clienteBuscado.estado}"></td>
									
		            </tr>

				</table>
				
    </body>
	
</html>