<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CLIENT</title>
    </head>
	<style>
		
			        button {
			            margin: 5px;
			            padding: 10px;
			            font-size: 16px;
			        }
			    </style>
	
    <body>

		
		</head>
		
		<body>
			
			<form>
				
				<h1>Buscar Cliente Por Dni</h1>
				
				
				<input type="text">
				
				<button type="submit">Confirmar</button>
				
			</form>
			
			
       
    </body>
</html>