<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Listado</title>
    </head>
    <body>

		<div>
						
						<a th:href="@{/homeCuenta}">Volver</a>
						
					</div>
		
		    <h1>Lista de Cuentas</h1>

		    <table>
		        <thead>
		            <tr>
						<th>Id Cuenta</th>
						<th>Numero De Cuenta</th>
		                <th>Nombre Del Cliente</th>
		                <th>Fecha De Ingreso</th>
		                <th>Saldo Actual</th>
		                <th>Estado</th>
		                <th>Limite De Extraccion</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="tmpCuenta : ${listaCuentas}">
						<td th:text="${tmpCuenta.id_cuenta}"></td>
						<td th:text="${tmpCuenta.numero_cuenta}"></td>
		                <td th:text="${tmpCuenta.unCliente.nombre_usuario}"></td>
						<td th:text="${tmpCuenta.fecha_ingreso}"></td>
						<td th:text="${tmpCuenta.saldo_actual}"></td>
						<td th:text="${tmpCuenta.estado}"></td>
						<td th:text="${tmpCuenta.limite_extraccion}"></td>
						<td>
						
							<a th:href="@{/altaMovimiento/{cuenta_id}  
						        (cuenta_id=${tmpCuenta.id_cuenta})+ '?tipo_operacion=' + ${deposito} }" 
								  class="">Deposito</a>
							
							<form th:action="@{/altaMovimiento}" method="post">
						
								<input type="hidden" name="cuenta_id" th:value="${tmpCuenta.id_cuenta}">
								
								<!--/* INPUT EL CUAL SOLAMENTE MANDA LA PALABRA DEPOSITO PARA REDIRECCIONAR EN EL CONTROLLER
								A SU DEBIDA PAGINA... */-->
						
								<input type="hidden" name="tipo_operacion" th:value="deposito">
						
								<button type="submit">Deposito</button>
						
							</form>
						
							<form th:action="@{/altaMovimiento}" method="post">
						
								<input type="hidden" name="cuenta_id" th:value="${tmpCuenta.id_cuenta}">
						
								<!--/*INPUT EL CUAL SOLAMENTE MANDA LA PALABRA EXTRACCION PARA REDIRECCIONAR EN EL CONTROLLER
		                         A SU DEBIDA PAGINA... */-->
								 
								<input type="hidden" name="tipo_operacion" th:value="extraccion">
								
								<button type="submit">Extraccion</button>
						
							</form>
						
							<form th:action="@{/listaMovimiento}" method="post">
						
								<input type="hidden" name="cuenta_id" th:value="${tmpCuenta.id_cuenta}">
								
								<button type="submit">Movimientos</button>
						
							</form>
						
						</td>
						</tr>
						</tbody>
						</table>
						
						</body>
						
						</html>